define host {
    host_name            web_a
    address              54.191.190.151
    max_check_attempts   5
    notification_interval 30
}

define host {
    host_name            web_b
    address              34.221.22.164
    max_check_attempts   5
    notification_interval 30
}

define host {
    host_name            loadbalancer
    address              54.202.28.125
    max_check_attempts   5
    notification_interval 30
}

define host {
    host_name            nagios
    address              127.0.0.1
    max_check_attempts   5
    notification_interval 30
}
